* {

    padding: 0;
    margin: 0;
}

nav {
    background-color: #7091e6;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    z-index: 15;
}

.list {
    display: flex;
    gap: 6vw;
    list-style: none;
    font-size: 25px;
    color: whitesmoke;

    font-family: sans-serif;
}

li {
    padding: 5px;
    border-radius: 4px;
}

.list a {
    text-decoration: none;
    color: whitesmoke;
}

li:hover {
    background-color: #164edb;

    cursor: pointer;
    transition-duration: 0.02s;
}

.list a:hover {
    text-decoration: none;
}

.left {
    padding-left: 8px;
}

.right {
    padding-right: 30px;
}

body {
    background-image: url(assests/wordlebackground.png);
}

h2 {
    background-color: #7091e6;
    ;

    font-family: "Sixtyfour", sans-serif;
    height: 8vh;
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 10px;
    ;
    color: white;
    text-align: center;

}

.main {


    width: 90%;
    max-width: 600px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #7091e6;
    ;
    flex-direction: column;
}

button {
    width: 50px;
    height: 50px;
}

.firsttry,
.secondtry,
.thirdtry,
.fourthtry,
.fifthtry,
.sixthtry {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}
