* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #0A0E27 ;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 15;
}
.invert{
  filter : invert();
}
.list {
  display: flex;
  gap: 6vw;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;

  font-family: sans-serif;
}
li {
  padding: 5px;
  border-radius: 4px;
}
.list a {
  text-decoration: none;
  color: whitesmoke;
}
a {
  text-decoration: none;
}
li:hover {
  background-color: #164edb;

  cursor: pointer;
  transition-duration: 0.02s;
}
.list a:hover {
  text-decoration: none;
}
.left {
  padding-left: 8px;
}
.right {
  padding-right: 30px;
}
main {
  height: 140vh;
  background-color: #111636;
}
.start{
  font-weight: 700;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#c084fc, #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.start2{
  font-size: 25px;
  padding : 30px;
  color: whitesmoke;
  width: 70vw;
  margin: auto;
  text-align: center;
}
footer {
  background-color: #0A0E27;
  padding-bottom: 20px;
}
.credits {
  color: whitesmoke;
  font-size: 19px;
  font-family: sans-serif;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 15px;
}

.grid-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  margin: auto;
  width: 80vw;
  grid-template-rows: 180px;
  font-size: 40px;
  font-family: sans-serif;
  place-items: center;
}

.box {
  padding: 40px;
  height: 155px;
  width: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.box:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.box:hover video {
  opacity: 1;
}

.label {
  color:whitesmoke;
  text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.7);
}

#box1 {
  background: linear-gradient(to right, #0EA5E9, #06B6D4);
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  border-radius:12px;
}
#box1 :nth-child(1) {
  text-decoration: none;
}
#box2 {
  background: linear-gradient(to right, #22C55E, #10B981);
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  border-radius:12px;
}
#box3 {
  background: linear-gradient(to right, #F97316, #FBBF24);
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  border-radius:12px;
}
#box4 {
  background: linear-gradient(to right, #EC4899, #FB7185);
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  border-radius:12px;
}
#box5 {
  background: linear-gradient(to right, #A855F7, #6366F1);
  border: 1px solid rgb(255, 255, 255);
 color: whitesmoke;
 border-radius:12px;
}
#box6 {
  background: linear-gradient(to right, #8B5CF6, #A855F7);
  border: 1px solid rgb(255, 255, 255);
  color: whitesmoke;
  border-radius:12px; 
}
#v1 {
  object-position:center;
  border: 1px solid rgb(255, 255, 255);
  border-radius:12px;
}
#v2{
  object-position: 48% 30%;
  border: 1px solid rgb(255, 255, 255);
  border-radius:12px;
}
#v3{
  object-position: 45% 30%;
  border: 1px solid rgb(255, 255, 255);
  border-radius:12px;
}
#v4{
  object-position: 90% 50%;
  border: 1px solid rgb(255, 255, 255);
  border-radius:12px;
}
#v5{
  border: 1px solid rgb(255, 255, 255);
  border-radius:12px;
}
#v6{
  border: 1px solid rgb(255, 255, 255);
  border-radius:12px;
}

@media screen and (max-width:987px){
  nav {
  background-color: #7091e6;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;   
  height: 8vh;
  z-index: 80;
}
 .right{
  display: none;
 }
 .left{
  margin: auto;
  transform: translateY(-5px);
 }
  main{
    height: 215vh;
  }
 .grid-container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 0px;
  font-size: 35px;
 } 
 .box{
  height: 20vh;
  width: 50vw;
 }
}