* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #7091e6;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 15;
}
.list {
  display: flex;
  gap: 6vw;
  list-style: none;
  font-size: 25px;
  color: whitesmoke;

  font-family: sans-serif;
}
li {
  padding: 5px;
  border-radius: 4px;
}
.list a {
  text-decoration: none;
  color: whitesmoke;
}
li:hover {
  background-color: #164edb;

  cursor: pointer;
  transition-duration: 0.02s;
}
.list a:hover {
  text-decoration: none;
}
.left {
  padding-left: 8px;
}
.right {
  padding-right: 30px;
}

.analysis {
  height: 270px;
  width: 500px;
  margin-left: 490px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.ana {
  display: flex;
  font-weight: bold;
  font-size: 26px;
  color: teal;
  border: 2px solid rgb(255, 0, 166);
  padding: 9px;
}
.btn {
  font-size: 30px;
  color: darkgreen;
  width: 220px;
  background-color: greenyellow;
  border-radius: 6px;
  margin-left: 640px;
  height: 40px;
}
.btn:hover {
  cursor: pointer;
  background-color: green;
}
#banner {
  text-align: center;
  font-size: 22px;
  text-decoration: underline;
}
.para {
  font-size: 17px;
  font-weight: bold;
  color: rgb(59, 58, 58);
  margin: 0 100px 0 100px;
}
.char.success {
  color: greenyellow;
}
.char.fail {
  color: red;
}
.btn:hover {
  background-color: rgb(4, 199, 4);
  transition-duration: 0.2s;
}
.content {
  display: flex;
  justify-content: center;
}
#input {
  height: 70px;
  border: 3px solid black;
}
.para {
  font-size: 20px;
}
.disptimer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.timer {
  font-size: 30px;
  font-weight: bold;
  color: red;
}
.time {
  font-size: 30px;
  font-weight: bold;
  color: red;
}
.start {
  display: flex;
  justify-content: center;
}
#start_btn {
  color: white;
  background-color: black;
  border-radius: 8px;
  width: 100px;
  height: 80px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
  padding: 8px;
}
#start_btn:hover {
  color: rgb(139, 147, 155);
  cursor: pointer;
}

footer {
  background-color: #3d52a0;
  padding-bottom: 20px;
}
.credits {
  color: whitesmoke;
  font-size: 19px;
  font-family: sans-serif;
}

.credits:hover {
  background-color: #164edb;
  padding: 5px;
  border-radius: 3px;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 20px;
}
