* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  background-color: #0A0E27 ;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 15;
}
.invert{
  filter : invert();
}
.list {
  display: flex;
  gap: 6vw;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;

  font-family: sans-serif;
}
li {
  padding: 5px;
  border-radius: 4px;
}
.list a {
  text-decoration: none;
  color: whitesmoke;
}
a {
  text-decoration: none;
}
li:hover {
  background-color: #164edb;

  cursor: pointer;
  transition-duration: 0.02s;
}
.list a:hover {
  text-decoration: none;
}
.left {
  padding-left: 8px;
}
.right {
  padding-right: 30px;
}

body{
  background-color: #111636;
}

.analysis {
  height: 35vh;
  width: 40vw;
  margin : auto;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  padding-top: 3vh;
}
.ana {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 26px;
  color: #738ed5;
  border: 2px solid #7091e6;
  padding: 9px;
}
.restart{
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 30px;
  color: white;
  width: 12vw;
  background-color:#738ed5;
  border-radius: 6px;
  height: 9vh;
}
.btn:hover {
  color: rgb(102, 107, 112);
  cursor: pointer;
}
#banner {
  text-align: center;
  font-size: 22px;
  padding-top: 10vh;
  color: #738ed5;
}
.para {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #738ed5;
  margin: auto;
  width: 70vw;
  padding: 3vh;
  border : 3px solid #738ed5;
  border-radius: 5px;
}
.char.success {
  color: greenyellow;
}
.char.fail {
  color: red;
}
.btn:hover {
  cursor: pointer;  
  transition-duration: 0.2s;
}
.content {
  display: flex;
  justify-content: center;
}
#input {
  height: 13vh;
  width: 60vw;
  border: 3px solid #738ed5;
  padding: 4px;
  color:#738ed5;
  font-size: 16px;
}
.para {
  font-size: 20px;
}
.disptimer {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}
.timer {
  font-size: 30px;
  font-weight: bold;
  color: #738ed5;
}
.time {
  font-size: 30px;
  font-weight: bold;
  color:#738ed5;
}
.start {
  display: flex;
  justify-content: center;
}
#start_btn {
  color: white;
  background-color: #738ed5;
  border-radius: 8px;
  width: 10vw;
  height: 10vh;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
  padding: 8px;
}
#start_btn:hover {
  color: rgb(102, 107, 112);
  cursor: pointer;
}

footer {
  background-color: #0A0E27;
  padding-bottom: 20px;
}
.credits {
  color: whitesmoke;
  font-size: 19px;
  font-family: sans-serif;
}

.credits:hover {
  background-color: #164edb;
  padding: 5px;
  border-radius: 3px;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 20px;
}

@media screen and (max-width:987px){
  nav {
  background-color: #7091e6;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;   
  height: 8vh;
  z-index: 80;
}
 .right{
  display: none;
 }
 .left{
  margin: auto;
  transform: translateY(-3px);
 }
main {
  height: 90vh;
  display: flex;
  justify-content: center;
}

footer {
    background-color: #3D52A0;
    height: 200px;
    padding-top: 10px;

}
.logo1{
  transform: scale(2);
}

#banner{
  font-size: 28px;
}
.timer{
  font-size: 50px;
}
.time{
  font-size: 50px;
}
.para{
  font-size: 35px;
}
#input{
  width: 70vw;
  height: 28vh;
  font-size: 35px;
}
.start{
  padding-top: 26px;
}
#start_btn {
  width: 25vw;
  height: 6vh;
  font-size: 35px;
  border-radius: 10px;
}
.analysis{
  width: 70vw;
  margin:auto;
  height: 30vh;
}
.ana{
  align-items: center;
  height: 8vh;
  font-size: 40px;
  padding: 20px;
}
.restart{
  padding: 80px;
  width: 30vw;
}
.restart :nth-child(1){
  height: 5vh;
  width:27vw;
  font-weight: 600;
  font-size: 40px;
  border-radius: 10px;
}

footer{
  height: 20vh;
}
.credits{
  font-size: 33px;
  font-weight: 500;
}
.container2{
  height: 15vh;
}

}