* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  background-color: #7091e6;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 15;
}
.list {
  display: flex;
  gap: 6vw;
  list-style: none;
  font-size: 25px;
  color: whitesmoke;

  font-family: sans-serif;
}
li {
  padding: 5px;
  border-radius: 4px;
}
.list a {
  text-decoration: none;
  color: whitesmoke;
}
li:hover {
  background-color: #164edb;

  cursor: pointer;
  transition-duration: 0.02s;
}
.list a:hover {
  text-decoration: none;
}
.left {
  padding-left: 8px;
}
.right {
  padding-right: 30px;
}

.analysis {
  height: 35vh;
  width: 40vw;
  margin : auto;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  padding-top: 3vh;
}
.ana {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 26px;
  color: #3d52a0;
  border: 2px solid #7091e6;
  padding: 9px;
}
.btn {
  font-size: 30px;
  color: darkgreen;
  width: 220px;
  background-color: greenyellow;
  border-radius: 6px;
  margin-left: 640px;
  height: 40px;
}
.btn:hover {
  cursor: pointer;
  background-color: green;
}
#banner {
  text-align: center;
  font-size: 22px;
  padding-top: 10vh;
  color: #2b3c7a;
}
.para {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #2b3c7a;
  margin: auto;
  width: 70vw;
  padding: 3vh;
  border : 3px solid #2b3c7a;
  border-radius: 5px;
}
.char.success {
  color: greenyellow;
}
.char.fail {
  color: red;
}
.btn:hover {
  background-color: rgb(4, 199, 4);
  transition-duration: 0.2s;
}
.content {
  display: flex;
  justify-content: center;
}
#input {
  height: 13vh;
  width: 60vw;
  border: 3px solid #3d52a0;
  padding: 4px;
  color:#2b3c7a;
  font-size: 16px;
}
.para {
  font-size: 20px;
}
.disptimer {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}
.timer {
  font-size: 30px;
  font-weight: bold;
  color: #738ed5;
}
.time {
  font-size: 30px;
  font-weight: bold;
  color:#738ed5;
}
.start {
  display: flex;
  justify-content: center;
}
#start_btn {
  color: white;
  background-color: #2b3c7a;
  border-radius: 8px;
  width: 10vw;
  height: 10vh;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
  padding: 8px;
}
#start_btn:hover {
  color: rgb(102, 107, 112);
  cursor: pointer;
}

footer {
  background-color: #3d52a0;
  padding-bottom: 20px;
}
.credits {
  color: whitesmoke;
  font-size: 19px;
  font-family: sans-serif;
}

.credits:hover {
  background-color: #164edb;
  padding: 5px;
  border-radius: 3px;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 20px;
}
