* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;

}


nav {
    background-color: #7091e6;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    z-index: 15;
}

.list {
    display: flex;
    gap: 6vw;
    list-style: none;
    font-size: 25px;
    color: whitesmoke;
    font-family: sans-serif;
}

li {
    padding: 5px;
    border-radius: 4px;
}

.list a {
    text-decoration: none;
    color: whitesmoke;
}

li:hover {
    background-color: #164edb;
    cursor: pointer;
    transition-duration: 0.02s;
}

.list a:hover {
    text-decoration: none;
}

.left {
    padding-left: 8px;
}

.right {
    padding-right: 30px;
}

body {
    background-image: url("../assests/wordlebackground.png");
    text-align: center;
}

h2 {
    background-color: #1e2e54;
    font-family: "Sixtyfour", sans-serif;
    height: 8vw;
    font-size: 4vw;
    padding-top: 7vh;
    padding-bottom: 0px;
    color: white;
    text-align: center;
    width: 100vw;
}

.main {
    width: 60vw;
    height: 35vw;
    min-height: 400px;
    min-width: 400px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #1e2e54;
    flex-direction: column;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.partial {
    background-color: yellow;
}

.gamearea {
    width: 5vw;
    height: 5vw;
    min-height: 60px;
    min-width: 60px;

    color: #3D52A0;

    font-size: 3vw;
}

.key {
    width: 6vw;
    height: 6vw;
    min-width: 30px;
    min-height: 30px;

    background-color: #1e2e54;
    border: 3px ridge whitesmoke;
    border-radius: 5px;

    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    line-height: 6vw;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    cursor: pointer;
}

.key:hover {
    background-color: #5870c5;
}

.key:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}




.big {
    width: 12vw;
    min-width: 30px;
}

.firstrow {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;

}

.secondrow {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.thirdrow {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.wordletiles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 1vw;
    column-gap: 1vw;
    height: 100%;
}

.winner {
    background-color: #7091e6;
    font-family: "Sixtyfour", sans-serif;
    height: 4vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    color: white;
    text-align: center;
    width: 100vw;
    font-size: 3vw;
}

.newGame {
    height: 4vw;
    width: 15vw;
    background-color: #1e2e54;
    border: 5px ridge whitesmoke;
    color: aliceblue;
    font-size: 1.5vw;
    font-family: "Sixtyfour", sans-serif;
    border-radius: 1vw;
}

.newGame:hover {
    background-color: #5870c5;
}

footer {
    background-color: #3D52A0;
    height: 150px;
    padding-top: 10px;

}

.credits {
    color: whitesmoke;
    font-size: 19px;
    text-align: center;
}

.credits:hover {
    background-color: #164edb;
    padding: 5px;
    border-radius: 3px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-top: 20px;
}



@media screen and (max-width:987px) {
    nav {
        background-color: #7091e6;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 8vh;
        z-index: 80;
    }

    .right {
        display: none;
    }

    .left {
        margin: auto;
        transform: translateY(-3px);
    }

    .newGame {
        height: 5vh;
        width: 15vh;
        font-size: 1.5vh;
    }

    footer {
        background-color: #3D52A0;
        height: 200px;
        padding-top: 10px;

    }

    .gamearea {
        font-size: 2vh;
        font-weight: bold;
    }
}

@media(max-width:450px) {
    .keyboard {
        width: 100%;
    }


}