* {

    padding: 0;
    margin: 0;
}

nav {
    background-color: #7091e6;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    z-index: 15;
}

.list {
    display: flex;
    gap: 6vw;
    list-style: none;
    font-size: 25px;
    color: whitesmoke;

    font-family: sans-serif;
}

li {
    padding: 5px;
    border-radius: 4px;
}

.list a {
    text-decoration: none;
    color: whitesmoke;
}

li:hover {
    background-color: #164edb;

    cursor: pointer;
    transition-duration: 0.02s;
}

.list a:hover {
    text-decoration: none;
}

.left {
    padding-left: 8px;
}

.right {
    padding-right: 30px;
}

body {
    background-image: url("../assests/wordlebackground.png");
}

h2 {
    background-color: #7091e6;
    ;

    font-family: "Sixtyfour", sans-serif;
    height: 8vh;
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 10px;
    ;
    color: white;
    text-align: center;

}

.main {
    width: 60vw;
    height:70vw;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #7091e6;
    ;
    flex-direction: column;
}

.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
.partial{
    background-color: yellow;
}

button {
    width: 5vw;
    height: 5vw;
}


.row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.wordletiles{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 1vw;
    column-gap: 1vh;
}
.winner{
    background-color: #7091e6;
    ;

    font-family: "Sixtyfour", sans-serif;
    height: 8vh;
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 10px;
    ;
    color: white;
    text-align: center;
}