* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #7091e6;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 15;
}
.list {
  display: flex;
  gap: 6vw;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;

  font-family: sans-serif;
}
li {
  padding: 5px;
  border-radius: 4px;
}
.list a {
  text-decoration: none;
  color: whitesmoke;
}
a {
  text-decoration: none;
  color: #3d52a0;
}
li:hover {
  background-color: #164edb;

  cursor: pointer;
  transition-duration: 0.02s;
}
.list a:hover {
  text-decoration: none;
}
.left {
  padding-left: 8px;
}
.right {
  padding-right: 30px;
}
footer {
  background-color: #3d52a0;
  padding-bottom: 20px;
}

.body {
  background: linear-gradient(blue, yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh;
  min-height: 100vh;
}
.board {
  background: linear-gradient(rgb(176, 190, 242), rgb(236, 236, 178));
  width: 98vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}
.scoreBox {
  display: flex;
  justify-content: center;
  color: yellow;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: auto;
}
.snakeHeader {
  color: whitesmoke;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.head {
  background-color: green;
  border-radius: 8px;
}
.snakeBody {
  background-color: purple;
  border-radius: 8px;
}
.food {
  background-color: red;
  border-radius: 8px;
}
