* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #0A0E27 ;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 15;
}
.invert{
  filter : invert();
}
.list {
  display: flex;
  gap: 6vw;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;

  font-family: sans-serif;
}
li {
  padding: 5px;
  border-radius: 4px;
}
.list a {
  text-decoration: none;
  color: whitesmoke;
}
a {
  text-decoration: none;
}
li:hover {
  background-color: #164edb;

  cursor: pointer;
  transition-duration: 0.02s;
}
.list a:hover {
  text-decoration: none;
}
.left {
  padding-left: 8px;
}
.right {
  padding-right: 30px;
}
footer {
  background-color: #0A0E27;
  height: 150px;
  padding-top: 10px;
}
.credits {
  color: whitesmoke;
  font-size: 19px;
  text-align: center;
}

.credits:hover {
  background-color: #164edb;
  padding: 5px;
  border-radius: 3px;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding-top: 20px;
}

.body {
  touch-action: none;
  background-color: #111636;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh;
  min-height: 100vh;
}
.board {
  background: linear-gradient(rgb(176, 190, 242), rgb(236, 236, 178));
  width: 98vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  gap: 0;
}

.board div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.scoreBox {
  display: flex;
  justify-content: center;
  color: #738ed5;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: auto;
}
.snakeHeader {
  color: #738ed5;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
/* .head {
  background-color: green;
  border-radius: 8px;
}
.snakeBody {
  background-color: purple;
  border-radius: 8px;
}
.food {
  background-color: red;
  border-radius: 8px;
} */

.head {
  background-image: url("../assests/snake-head-new.png");
  background-size: cover;
  background-position: center;
}

.snakeBody {
  background-image: url("../assests/snake-bodynew.png");
  background-size: cover;
  background-position: center;
}

.food {
  background-image: url("../assests/foodnew.png");
  background-size: cover;
  background-position: center;
}

.head,
.snakeBody,
.food {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 987px) {
  nav {
    background-color: #7091e6;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    z-index: 80;
  }
  .right {
    display: none;
  }
  .left {
    margin: auto;
    transform: translateY(-5px);
  }

  .scoreBox {
    font-size: 35px;
  }
  .snakeHeader {
    font-size: 20px;
  }
  .body {
    min-height: 65vh;
  }

  footer {
    background-color: #3d52a0;
    height: 200px;
    padding-top: 10px;
  }
}
